.card-page {
  img {
    width: 100%;
    height: 30 rem;
  }
  padding: 15px 30px;
  display: flex;
  justify-content: center;

  .content-card {
    width: 60%;
    pre {
      overflow: auto;
    }
  }
}
