.card-page {
  padding-top: 10rem;
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  gap: 1rem;
  justify-content: center;
  max-width: 1024px;
  margin: 0px auto;
  .card-main {
    img {
      width: 100%;
    }
  }

  .content-card {
    width: 100%;
    min-width: 50rem;

    pre {
      overflow: auto;
      background-color: black;
      color: white;
    }
  }
  .author-card {
    margin: 0 auto;
    width: 17rem;
    height: fit-content;
    svg {
      margin: 0.288rem;
    }
    img {
      width: 5rem;
      border-radius: 50%;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 1173px) {
  .card-page {
    .author-card {
      margin: 0 auto;
      width: 100%;
    }
  }
}
@media (max-width: 1044px) {
  .card-page {
    .content-card {
      min-width: auto;
    }
    .author-card {
      order: 2;
      margin: 0 auto;
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    .share {
      order: 3;
      flex-direction: row;
      margin: 0 auto;
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      background: white;
      width: 100%;
      z-index: 1;
      color: black;
      gap: 2rem;
      .share-text {
        display: none;
      }
    }
    .content-card {
      width: 100%;
    }
    .card-main {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
