@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  
}
.header {
  p {
    margin: 0;
  }
}
p {
  margin: 15px 0;
  line-height: 1.8;
}

header {
  color: #9A9CA0;
  padding: 5px;
  position: absolute;
}


.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 3rem;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  /* padding: 3rem; */
  justify-content: center;
}

.card {
  color: black;
  padding: 15px;
  /* height: 30rem; */
  width: 25rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background: white;
  transition: all 0.2s ease;
  img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  .read-align {
    text-align: center;
    width: fit-content;
    margin: auto;
  }
  .date-align {
    margin-top: 0.5rem;
    .post-date {
      .point {
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        margin: 7px;
      }
    }
  }
}
.card:hover {
  transform: translate3D(0, -1px, 0) scale(1);
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.33);
  transition: all 0.2s ease;
  cursor: pointer;
}
.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.search {
  .results {
    div {
      width: 20rem;
    }
  }
}



.link--arrowed {

	.arrow-icon {
		position: relative;
		top: -1px;
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease;
		vertical-align: middle;
	}
	
	
	
}
.post{
  &:hover {
		.arrow-icon {
			transform: translate3d(5px, 0, 0);
		}
		
	}
}

.to-top{
	color:white;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color:white;
	text-decoration:none;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:pink;
	border-color:pink;
}
.to-top:hover:before{
	transform: rotate(360deg);
}
.mentor-form{
  label{
    font-size: 1rem;
    margin-top: 1rem;
  }
  input{
    padding: 0.5rem;
    
  }
}

@media (max-width: 1231px) {
  .search {
    .results {
      div {
        width: 15rem;
      }
    }
  }
}
@media (max-width: 626px) {
  .search {
    .results {
      div {
        width: 9rem;
      }
    }
  }
}
