.bg{
    img{
        width: 13rem;
        height: 10rem;
       object-fit: contain;
       
    }
    .next{
      
        position: absolute;
        top: 13vh;
        left: 15%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);

        opacity: .3;
       }
       .sass{
        position: absolute;
        top: 25vh;
        left: 42%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);

        opacity: .3; 
       }
       .node{
        position: absolute;
        top: 17vh;
        left: 65%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);

        opacity: .3;
       }
       .react{
     
        position: absolute;
        top: 15vh;
        right: 5%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        opacity: .3;
       }
       .python{
        object-fit: contain;
        position: absolute;
        top: 60vh;
        left: 12%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);

        opacity: .3;
       }
       .tailwind{
        position: absolute;
        top: 65vh;
        left: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);

        opacity: .3;
    
       }
       .typescript{
        object-fit: contain;
        position: absolute;
        top: 60vh;
        right: 5%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);

        opacity: .3;
    
       }
      
}
.main-content{
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    
   }
   
   .curve{
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 90px;
    transform: translateY(1px);
    z-index: 3;
       .curve-svg{

           position: absolute;
           left: -3%;
           right: -3%;
           bottom: 0px;
           width: 106%;
           min-width: 600px;
           max-width: unset;
       }
   }

   @media (max-width: 1231px) {
    .bg{
        img{
            width: 8rem;
            height: 8rem;
           object-fit: contain;
           
        }
    }
  }
  @media (max-width: 626px) {
    .bg{
        img{
            width: 5rem;
            height: 5rem;
           object-fit: contain;
           
        }
        .react{
           
            top: 15vh;
            right: 6%;

        }
        .sass{
            top: 32vh;
            left: 46%;
        }
        .node{
            display: none;
            top: 22vh;
            left: 60%;
        }
        .tailwind{
                top: 59vh;
    left: 45%;
        }
        .next{
            top: 17vh;
            left: 16%;
        }
    }
  }

  
  .arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 30px;
  height: 30px;
  top: 70vh;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px  solid;
  border-bottom: 2px  solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px  solid;
  border-bottom: 1px  solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}